:root {
    --bg-main: #f6f6f6;
    --white: #ffffff;
    --border-color: #d6d6d6;
    --primary: #29472b;
}

/* Desktop */
body {
    background-color: var(--bg-main);
}

img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.header,
.footer {
    text-align: center;
    color: var(--white);
    background-color: var(--primary);
}

.header {
    padding: 50px;
}

.footer {
    padding: 20px;
}

.footer a {
    color: var(--white);
    text-decoration: none;
}

.box {
    background-color: var(--white);
    margin-top: 20px;
    padding: 20px 30px 10px 30px;
    border-radius: 10px;
    border: solid 1px var(--border-color);
}

.hello-title {
    font-size: 1.5rem;
}

.hello p,
.consent-notice p {
    text-align: justify;
    overflow-wrap: break-word;

}

.form-group {
    padding: 20px 30px;
}

.form-group label,
.form-legend {
    margin-bottom: 20px;
    font-weight: bold;
}

.form-legend {
    font-size: 1rem;
}

.form-check {
    margin-top: -10px;
    font-size: .875rem;
}

.form-check label {
    font-weight: normal;
}

.alert {
    margin-top: 20px;
    text-align: center;
}

.required {
    font-weight: bold;
    color: red;
}

.inlineRight {
    float: right;
}

.button-area {
    margin: 30px 0 70px 0;
}

.btn-success {
    padding-left: 20px;
    padding-right: 20px;
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {

    .header {
        padding: 20px 5px;
        font-size: 1rem;
    }

    .form-body {
        padding-left: 100px;
    }

    .footer {
        font-size: 1rem;
    }

    .consent-notice p {
        font-size: 0.95rem;
    }
}

/* Mobile */
@media (max-width: 600px) {

    .hello {
        padding: 20px 20px 10px;
    }

    .header h3 {
        font-size: 1rem;
    }

    .header h5 {
        font-size: 0.8rem;
    }

    .form-body {
        padding: 0 20px;
    }

    .footer {
        font-size: 0.7rem;
    }
}
